body {
  font-family: sans-serif;
  background: rgb(1, 73, 34);
  /* rgb(1, 73, 34),
    rgb(0,155,107) */
}

.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#messages {
  display: none;
  background-color: white;
  max-height: 6em;
  overflow-y: scroll;
}

#messages div {
}

#messages .error {
  background-color: red;
  color: white;
}

#deck {
  cursor: pointer;
  float: right;
  display: block;
  z-index: -1;
}

#hand {
  background: rgb(1, 53, 24);
}

#players {
  float: right;
}

#board {
  clear: both;
}

.number {
  font-size: 1in;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
}

.draggable {
  cursor: move;
}

.card {
  display: inline;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /*
  -moz-box-shadow: black 0.1em 0.1em 0.2em;
  -webkit-box-shadow: black 0.1em 0.1em 0.2em;
  box-shadow: black 0.1em 0.1em 0.2em;
  */
}

