body {
  font-family: 'Rambla', sans-serif;
  background: rgb(1, 73, 34);
  /* rgb(1, 73, 34),
    rgb(0,155,107) */
}

.unhappy {
  color: red;
}

.unhappyMessage {
  color: red;
  display: block;
}

.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#messages {
  display: none;
  background-color: white;
  overflow-y: scroll;
}

#messages .error {
  background-color: red;
  color: white;
}

#hud {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 999;
}

#deck {
  cursor: pointer;
  float: left;
}

#hand {
  background: rgb(1, 53, 24);
  float: left;
  padding-right: 5em;
  padding-left: .5em;
}

#hand .card {
  float: left;
  position: static;
}

#players {
  float: right;
}

#players {
  color: white;
  font-size: 1.5em;
  text-shadow: black 1px 1px 1px;
  text-align: center;
}

#players div {
    float: left;
}

#players div div {
    clear: both;
    float: none;
}

#players .hand {
}

#players .hand:before {
    content: "Hand: "
}

#board {
  clear: both;
}

.number {
  font-size: 0.85in;
  color: white;
  text-shadow: black 0.05em 0.05em 0.1em;
  text-align: center;
}

.draggable {
  cursor: move;
}

.card {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /*
  -moz-box-shadow: black 0.1em 0.1em 0.2em;
  -webkit-box-shadow: black 0.1em 0.1em 0.2em;
  box-shadow: black 0.1em 0.1em 0.2em;
  */
}

