<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>CardBoard</title>
  <meta name="description" content="CardBoard game framework.">
  <meta name="author" content="skeletonbrain">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="/static/js/base.js"></script>
  <script>
    $(function() {
      $("#sessionTabs").tabs({active:0});
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="sessionTabs">
      <ul>
        <li><a href="#sessionJoin">Join</a></li>
        <li><a href="#sessionCreate">Create</a></li>
      </ul>
      <div id="sessionJoin">
        <form>
          <input type="text" name="code" placeholder="Invite Code" />
          <input type="submit" value="Join" />
          {{ xsrf_form_html() }}
        </form>
      </div>
      <div id="sessionCreate">
        <form>
          <select name="deck">
            {% for deck in decks %}
            <option>{{ deck }}</option>
            {% end %}
          </select>
          <input type="submit" value="Create" />
          {{ xsrf_form_html() }}
        </form>
      </div>
    </div>

    <div id="messages">
    </div>

    <div id="board">
    </div>

    <div id="deck">
    </div>

    <div id="hand">
    </div>

  </div>

  <script>

  var game = {

    ws: null,
    code: null,
    state: null,
    player_id: null,
    player_vars: [],
    deck: {},
    cards: {},

    processMessage: function(event) {
      var data = $.parseJSON(event.data);

      var new_state = null;

      if ('state' in data) {
        new_state = data.state;
      }
      if ('player_id' in data) {
        this.player_id = data.player_id;
      }
      if ('player_vars' in data) {
        if (new_state === 'start') {
          this.player_vars = data.player_vars;
        }
        else {
          this.merge_vars(data.player_vars);
        }
      }
      if ('message' in data) {
        displayMessage('server: ' + data.message);
      }
      if ('error' in data) {
        displayError('server: ' + data.error);
      }
      if ('deck' in data) {
        displayMessage('Loaded new deck');
        this.deck = data.deck;
      }
      if ('spawn_card' in data) {
        this.cards[data.id] = data.spawn_card;
        this.add_card_to_board(data.spawn_card);
      }

      this.update_state(new_state);
    },

    add_card_to_board: function(data) {
      var card = $('<div class="card">' + data.card + '</div>');
      // card.css(this.deck.style);
      $('#board').append(card);
    },

    opened: function() {
      displayMessage('Socket opened');
      this.send({join: this.code});
    },

    closed: function() {
      displayMessage('Socket closed');
      $('#sessionTabs').show();
      this.ws = null;
    },

    send: function(data) {
      this.ws.send(JSON.stringify(data));
    },

    merge_vars: function(vars) {
      for (player in vars) {
        for (key in vars[player]) {
            this.player_vars[player][key] = vars[player][key];
        }
      }
      this.update_state();
    },

    update_state: function(state) {
      if (state) {
        this.state = state;
      }

      var deck = $('#deck');

      if (this.state === 'start') {

        deck.css(this.deck.style);
        deck.css('background-image', 'url("' + this.deck.back + '")');
        deck.addClass('card');
        deck.click(function() { game.draw_card() });

        this.update_deck();

        this.state = 'playing';
      }
      else if (this.state === 'playing') {
        this.update_deck();
      }
    },

    draw_card: function() {
      this.send({'action': 'draw'});
    },

    my_vars: function() {
      return this.player_vars[this.player_id];
    },

    update_deck: function() {
      var deck = $('#deck');

      deck.empty();
      var number = $('<div class="number">' + this.my_vars().cards_left + '</div>');
      deck.append(number);
      number.css('padding-top', (deck.height() - number.height()) * 0.5);
    }
  };

  function joinLobby(code) {
    var content = $('#messages');

    if ("WebSocket" in window) {
        game.ws = new WebSocket('ws://' + location.host + '/ws');
        game.code = code;
        game.status = 'lobby';

        game.ws.onopen = function() { game.opened(); };

        game.ws.onmessage = function(event) { game.processMessage(event); };

        game.ws.onclose = function() { game.closed(); };
    }
    else {
      alert("This website requires WebSockets.");
    }
  }

  function displayMessage(message) {
    addMessage("", message);
  }

  function displayError(error) {
    addMessage("error", error);
  }

  function addMessage(type, text) {
    var messages = $('#messages');
    var div = $("<div class='" + type + "'>" + text + "</div>");
    div.hide();
    div.appendTo(messages);
    div.show('highlight');
    messages.scrollTop(messages[0].scrollHeight);
  }

  $("#sessionCreate form").submit(function(event) {
    event.preventDefault();
    $('#sessionTabs').hide();

    $.post('/session/create', $(this).serialize(),
      function(data) {
        joinLobby(data['code']);
      }, 'json'
    ).error(function(xhr, status, error) {
      $('#sessionTabs').show();
      displayError(error);
    });
  });

  $("#sessionJoin form").submit(function(event) {
    event.preventDefault();
    $('#sessionTabs').hide();

    joinLobby($(this).find('input[name="code"]').val());
  });
</script>

</body>
</html>
