<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>CardBoard</title>
  <meta name="description" content="CardBoard game framework.">
  <meta name="author" content="skeletonbrain">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="/static/js/base.js"></script>
  <script>
    $(function() {
      $("#sessionTabs").tabs({active:0});
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="sessionTabs">
      <ul>
        <li><a href="#sessionJoin">Join</a></li>
        <li><a href="#sessionCreate">Create</a></li>
      </ul>
      <div id="sessionJoin">
        <form>
          <input type="text" name="code" placeholder="Invite Code" />
          <input type="submit" value="Join" />
          {{ xsrf_form_html() }}
        </form>
      </div>
      <div id="sessionCreate">
        <form>
          <input type="text" name="url" placeholder="Deck URL" />
          <input type="submit" value="Create" />
          {{ xsrf_form_html() }}
        </form>
      </div>
    </div>

    <div id="messages">
    </div>

  </div>

  <script>

  var game = {

    ws: null,
    code: null,
    status: null,

    processMessage: function(event) {
      var data = $.parseJSON(event.data);

      if ('message' in data) {
        displayMessage('server: ' + data.message);
      }
      if ('error' in data) {
        displayError('server: ' + data.error);
      }
      if ('status' in data) {
        this.status = data['status'];
      }
    },

    opened: function() {
      displayMessage('Socket opened');
      this.send({join: this.code});
    },

    closed: function() {
      displayMessage('Socket closed');
      $('#sessionTabs').show();
      this.ws = null;
    },

    send: function(data) {
      this.ws.send(JSON.stringify(data));
    }
  };

  function joinLobby(code) {
    var content = $('#messages');

    if ("WebSocket" in window) {
        game.ws = new WebSocket('ws://' + location.host + '/ws');
        console.log('setting code', code);
        game.code = code;
        console.log('game code', game.code);
        console.log('game', game);
        game.status = 'lobby';

        game.ws.onopen = function() { game.opened(); };

        game.ws.onmessage = function(event) { game.processMessage(event); };

        game.ws.onclose = function() { game.closed(); };
    }
    else {
      alert("This website requires WebSockets.");
    }
  }

  function displayMessage(message) {
    addMessage("", message);
  }

  function displayError(error) {
    addMessage("error", error);
  }

  function addMessage(type, text) {
    var messages = $('#messages');
    var div = $("<div class='" + type + "'>" + text + "</div>");
    div.hide();
    div.appendTo(messages);
    div.show('highlight');
    messages.scrollTop(messages[0].scrollHeight);
  }

  $("#sessionCreate form").submit(function(event) {
    event.preventDefault();
    $('#sessionTabs').hide();

    $.post('/session/create', $(this).serialize(),
      function(data) {
        joinLobby(data['code']);
      }, 'json'
    ).error(function(xhr, status, error) {
      $('#sessionTabs').show();
      displayError(error);
    });
  });

  $("#sessionJoin form").submit(function(event) {
    event.preventDefault();
    $('#sessionTabs').hide();

    joinLobby($(this).find('input[name="code"]').val());
  });
</script>

</body>
</html>
